body {
	background-color: #1ea468;
	font-family: Helvetica;
	margin:0;
   	padding:0;
}

#header {
	text-align: center;
	color: white;
	font-size: 40px;
}

#footer {
	text-align: center;
	margin-top: 50px;
}


#container {
	background-color: #0c9256;
	width: 400px;
	font-size: 30px;
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

#chead {
	height: 50px;
	line-height: 50px;
	display: table;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

#chead > a {
	text-decoration: none;
	text-align: center;
	display: table-cell;
	padding: 10px;
	width: 50%;
	color: white;
	background-color: #1ea468;
}

#chead > a:hover {
	cursor: pointer;
}

#cbody{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.selected {
	background-color: #0c9256 !important;
}

.errorField {
	color: red;
	border: 2px solid red !important;
}

#login > input[type=text],
#register > input[type=text],
#login > input[type=password],
#register > input[type=password] {
	box-sizing: border-box;
	display: block;
	font-size: 20px;
	padding: 10px;
	border: 2px solid #ccc;
	background-color: white;
	width: 100%;
	margin-bottom: 30px;
	outline: none;
}

#login > input[type=text]:focus,
#register > input[type=text]:focus,
#login > input[type=password]:focus,
#register > input[type=password]:focus{
	border: 2px solid #999;
}

#login > input[type=submit],
#register > input[type=submit] {
	margin: auto;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border: 2px solid #ccc;
	background-color: #1ea468;
	outline: none;
}

#login > input[type=submit]:hover,
#register > input[type=submit]:hover {
	cursor: pointer;
}

#login > input[type=submit]:active,
#register > input[type=submit]:active {
	background-color: #0c9256;
	color: white;
}

.centered {
	text-align: center;
	margin: auto;
	float: none;
	clear: both;
}

.rounded {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.roundedtop {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.roundedbottom {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
